#superVideos {
	display: none;
}

header {
	font-family: 'Lobster', cursive;
	font-size: 5em;
	margin-bottom: .25em;
}

nav{
	border: 1px solid gray;
	background-color:#333;

	a {
		color:white;
		padding:2em;
		display:inline-block;
	}
}

